.signin{
    display: inline-block;
    border: 1px solid gray;
    color: blue;
    padding: 10px 20px;
    border-radius: 24px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.signin:hover{
    background-color: lightgray;
    border: 1px solid transparent;
}